.btn {
  padding: 6px 10px;
  background-color: var(--Primary);
  color: var(--FontColor-Primary);
  border: 0px;
}

.btn:hover {
  background-color: var(--Primary-Hover);
  color: var(--FontColor-Hover);
}

.btn:active {
  background-color: var(--Primary-Active);
  color: var(--FontColor-Active);
}

.btn-Secondary {
  background-color: var(--Primary-Hover);
  color: var(--FontColor-Hover);
}
.btn-Secondary:hover {
  background-color: var(--Primary);
  color: var(--FontColor-Primary);
}

.btn-Secondary:active {
  background-color: var(--Primary-Active);
  color: var(--FontColor-Active);
}

.large {
  width: 100%;
}

.btn-font {
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

input,
select {
  width: 100%;
  height: 40px;
  background-color: var(--Bg-Quaternary);
  color: var(--Primary);
  border: 2px solid var(--Primary);
  padding: 5px;
}

input {
  padding: 7px;
}

input::placeholder {
  color: var(--Primary);
}