#Grilla {
  background-color: var(--Bg-Secondary);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#Grilla article {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Grilla article .contenedorImgGota {
  border-radius: 40% 0;
  width: 125px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 7px;
}

table {
  width: 50%;
  border-collapse: separate;
  border-spacing: 10px 7px;
}

.first-column {
  width: 10%;
}

.event-cell {
  width: 80%;
  text-align: left;
  padding-left: 5px;
}

td {
  border: 1px solid var(--Bg-Quaternary);
  text-align: center;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  table {
    width: 100%;
  }
  #Grilla {
    gap: 25px;
  }
  #Grilla article {
    width: 47%;
  }
  #Grilla article .contenedorImgGota {
    height: 125px;
  }
}

@media (max-width: 576px) {
  #Grilla article {
    width: 100%;
  }
}